<div class="week">
    <h1>Week {{ weekDay.weekId }} </h1>
    <div class="matchinfo">
        <app-match-info [match]="weekDay.match1"></app-match-info>
    </div>
    <div class="matchinfo">
        <app-match-info [match]="weekDay.match2"></app-match-info>
    </div>
    <div class="matchinfo">
        <app-match-info [match]="weekDay.match3"></app-match-info>
    </div>

    <div class="actions">
        <button type="button" class="btn create">Create/Edit</button>
        <button type="button" class="btn btn-info">Preview</button>
    </div>
</div>