<mat-card class="week">
    <mat-card-title>{{ weekDay.weekName }} </mat-card-title>
    <div class="matches">

        <div class="matchinfo">
            <app-match-info [team1]="weekDay.team1" [team2]="weekDay.team2"></app-match-info>
        </div>
        <div class="matchinfo">
            <app-match-info [team1]="weekDay.team3" [team2]="weekDay.team4"></app-match-info>
        </div>
        <div class="matchinfo" *ngIf="weekDay.team5 != ''">
            <app-match-info [team1]="weekDay.team5" [team2]="weekDay.team6"></app-match-info>
        </div>
    </div>

    <div class="actions">
        <button type="button" class="btn create" (click)="goToCreateTeam()" *ngIf="showCreateEdit">
            Create/Edit</button>
        <button type="button" class="btn create" (click)="openLeaderBoard()"
            *ngIf="showLeaderBoard">LeaderBoard</button>
        <button type="button" class="btn btn-info" (click)="previewYourTeam()" *ngIf="previewTeam">Team
            Preview</button>
        <button type="button" class="btn btn-light" (click)="previewYourTeam()" disabled="true" *ngIf="showComingUp">
            Coming up</button>
    </div>
</mat-card>