<mat-card class="week">
    <mat-card-title>Week {{ weekDay.weekId }} </mat-card-title>
    <div class="matchinfo">
        <app-match-info [team1]="weekDay.teamOne" [team2]="weekDay.teamTwo"></app-match-info>
    </div>
    <div class="matchinfo">
        <app-match-info [team1]="weekDay.teamThree" [team2]="weekDay.teamFour"></app-match-info>
    </div>
    <div class="matchinfo">
        <app-match-info [team1]="weekDay.teamFive" [team2]="weekDay.teamSix"></app-match-info>
    </div>

    <div class="actions">
        <button type="button" class="btn create">Create/Edit</button>
        <button type="button" class="btn btn-info">Preview</button>
    </div>
</mat-card>