.all-teams {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 60px;
    z-index: 1000;
    background-color: aqua;
    margin: 10px;

    h1,
    button,
    .credits {
        margin: 10px;
    }

    .credits {
        margin: auto 0px;
        width: 150px;
    }
}

ul {
    padding-left: 15px;
}

.team-info {
    width: 300px;
    border: 2px solid red;
    margin: 10px;
}

.player-list {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: auto;
    text-align: center;
}

.title {
    // margin: auto;
    margin-bottom: 10px;
    height: 60px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    display: flex;
    flex-direction: row;
}

.player-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 1px 4px;
    flex-grow: 1;
}

.select-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
    margin-right: 20px;
    padding: 3px 10px;
    border: 1px solid red;
    background-color: #df917d;
    border-radius: 5px;
    cursor: pointer;
}

.player-detail {
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: row;
}

label {
    flex-grow: 1;
    cursor: pointer;
}