<header>
    <div class="title">
        <h2>
            <a routerLink="/">
                Fantasy League
            </a>
        </h2>
    </div>
    <nav>
        <ul>
            <li *ngIf="authenticated$ | async">
                <a (click)="globalLeaderboard()">Global LeaderBoard</a>
            </li>
            <li *ngIf="authenticated$ | async">
                <a>{{ user?.username }}</a>
            </li>
            <li *ngIf="authenticated$ | async">
                <a (click)="logout()">Logout</a>
            </li>
            <li *ngIf="!(authenticated$ | async)">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!(authenticated$ | async)">
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </nav>
</header>