<header>
    <h2 class="title">Fantasy League</h2>
    <nav>
        <ul>
            <li *ngIf="authenticated$ | async">
                <a routerLink="/">Home</a>
            </li>
            <li *ngIf="!(authenticated$ | async)">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!(authenticated$ | async)">
                <a routerLink="/register">Register</a>
            </li>
            <li *ngIf="authenticated$ | async">
                <a>{{ user?.username }}</a>
            </li>
        </ul>
    </nav>
</header>