.match {
    border: 3px solid rgb(199, 81, 81);
    border-radius: 15px;
    font-size: large;
    width: 250px;
    margin: 5px;
    color: blue;
    text-align: center;
    background-color: white;
}