<div class="preview">
    <div class="title">
        <header style="flex-grow: 1; margin: auto;">{{data.leaderboardUser.username}}</header>
        <div *ngIf="data.weekStatus == 'COMPLETED'">{{ data.totalPoints.toFixed(2) }}</div>
        <button mat-raised-button *ngIf="data.weekStatus == 'IN_PROGRESS'" (click)="goToCreateTeam()">Edit</button>
    </div>

    <div>
        <ul>
            <li *ngFor="let player of data.playerMatchPoints">
                <div class="player-preview">
                    <h6 style="flex-grow: 1; padding: 4px;">
                        {{ player.playerName }} ({{player.playerTeam}})
                        <span *ngIf="player.playerId == data.captainId" style="color: rgb(203, 16, 44);">(c)</span>
                        <span *ngIf="player.playerId == data.viceCaptainId" style="color: rgb(80, 49, 203);">(vc)</span>
                    </h6>
                    <div *ngIf="data.weekStatus == 'COMPLETED'" class="points">{{player.totalPoints.toFixed(2)}} </div>
                </div>
            </li>
        </ul>
    </div>
</div>